/vendor
.env
.phpunit.result.cache
bootstrap/cache/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.idea/
.vscode/
Homestead.json
Homestead.yaml
Vagrantfile
npm-debug.log
yarn-error.log
/node_modules/
/vendor/
